@charset "UTF-8";
/* background-color: #FFF1DD; */
/* background: #059dc0; */
/* background: #fae8e0; */
/* background: #F27827; */
/* background: #ffdcd0; */
/* background: #FBE7C6; */
/* background: linear-gradient(50deg,
    rgba(39, 181, 242, 1) 0%,
    rgba(96, 197, 240, 1) 23%,
    rgba(249, 151, 97, 1) 53%,
    rgba(255, 175, 143, 1) 70%,
    rgba(253, 187, 118, 1) 100%
    );
    background-color: rgba(250,232,224,1);
*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body {
  /* background-color: #FFF1DD; */
  /* background-color: #fae8e0; */
  /* background-color: #f2eee2; */
  background-color: #fff;
  font-family: "Fredoka", sans-serif;
  color: #000 !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* menu de navegacion */
header {
  /* caracteristicas principales */
  background-color: #fff;
  padding: 10px !important;
  /* distribucion de elementos h1 y nav */
  display: flex;
  justify-content: space-between; /* para tirar los elementos a las puntas */
  align-items: center;
  /* desplazamiento de pagina */
  position: sticky;
  top: 0;
  z-index: 1;
  /* -------------------------------------------------*/
  /* LOGO EMPRESA */
  /* ------------------------------------------------- */
  /* MENU NAVEGACION */
}
header h1 {
  font-size: 40px;
  font-family: "Pacifico", cursive;
  /* aplicar color */
  color: #FBE7C6;
  background-color: rgb(35, 89, 109);
  padding: 8px !important;
}
header nav {
  /* ------------------------------------------------- */
}
header nav ul {
  list-style: none;
  /* distribucion de elementos li */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav ul li {
  /* separador para cada item */
  margin-right: 20px !important;
  /* clase para un item determinado */
  /* cada enlace dentro de cada item */
}
header nav ul li .li-login {
  margin: 0 !important;
}
header nav ul li a {
  color: #23596d;
  font-size: 20px;
  text-decoration: none;
}

/* -----------------------------------------------------------------------------------------*/
/* INDEX */
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------SECCION HERO------------------------------------*/
.hero {
  height: 490px;
  /* mini parrllax */
  background-image: url(../img/a-body/body00.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* distribucion de elementos */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-desc {
  /* distribucion de elementos */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-desc h2 {
  font-size: 60px;
  text-transform: uppercase;
  /* aplicar color */
  background-color: rgb(255, 255, 255);
  padding: 10px !important;
  border: 2px solid #fff;
}
.hero .hero-desc h3 {
  font-family: "Pacifico", cursive;
  /* aplicar color */
  background-color: rgb(35, 89, 109);
  padding: 10px !important;
  color: #FBE7C6;
}
.hero .hero-desc p {
  margin-top: 25px !important;
  font-size: 26px;
  text-align: center;
  /* aplicar color */
  background-color: rgb(255, 255, 255);
  padding: 10px !important;
  border: 2px solid #fff;
}
.hero .hero-desc a {
  text-decoration: none;
  font-size: 25px;
  margin-top: 15px;
  /* aplicar color */
  color: #23596d;
  border: 2px solid #fff;
  background-color: rgb(106, 242, 240);
}

/* -----------------------------------------------------------------------------SECCION HERO */
/* SECCION INTRO----------------------------------------------------------------------------- */
.intro {
  /* distribucion de elementos div */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 40px !important; /* separador de los bordes laterales */
  text-align: center;
}
.intro .sub-intro {
  /* separador div */
  margin-top: 30px !important;
  /* distribucion de elementos img e hijo div */
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .sub-intro .sub-intro-desc {
  /* distribucion de elementos h2 y p */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* separador entre img y div */
  margin-right: 30px !important;
}
.intro .sub-intro .sub-intro-desc h2 {
  margin-bottom: 20px !important; /* separador entre h2 y p */
  font-size: 40px;
  /* aplicar color */
}
.intro .sub-intro .sub-intro-desc p {
  font-size: 20px !important;
}
.intro .sub-intro .sub-intro-img {
  width: 470px;
  height: 370px;
  object-fit: cover;
  /* por favor no me maten por usar esta propiedad, se los agradezco :') */
  border-radius: 60%;
}
.intro .sub-intro-rev {
  /* distribucion de elementos img e hijo div*/
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 30px !important; /* separador div */
}
.intro .sub-intro-rev .sub-intro-rev-desc {
  /* separador entre img e hijo div */
  margin-left: 35px !important;
  /* distribucion de elementos h2 y p */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro .sub-intro-rev .sub-intro-rev-desc h2 {
  margin-bottom: 20px !important; /* separador entre h2 y p */
  font-size: 40px;
  /* aplicar color */
}
.intro .sub-intro-rev .sub-intro-rev-desc p {
  font-size: 20px !important;
}
.intro .sub-intro-rev .sub-intro-rev-img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  /* por favor no me maten por usar esta propiedad, se los agradezco :') */
  border-radius: 60%;
}

/* -----------------------------------------------------------------------------SECCION INTRO*/
/* SECCION COLLAGE-----------------------------------------------------------------------------*/
.collage {
  margin-top: 50px !important; /* separador de seccion intro */
  text-align: center; /* centrar para cualquier texto */
}
.collage h2 {
  font-size: 50px;
  text-transform: uppercase;
  /* aplicar color */
  background-color: coral;
  padding: 10px !important;
}
.collage .collage-grid {
  padding: 14px !important;
  /* distribucion de elementos */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 350px;
  gap: 20px;
}
.collage .collage-grid .collg-ropa {
  height: 100%;
  width: 100%;
  position: relative; /* para posicionar titulo */
}
.collage .collage-grid .collg-ropa .collg-ropa-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collage .collage-grid .collg-ropa .collg-ropa-titulo {
  width: 100%; /* ocupar todo el espacio de la celda */
  /* posicionar dentro de la celda */
  position: absolute;
  bottom: 0;
  /* aplicar color */
  background-color: rgba(255, 255, 255, 0.39);
}
.collage .collage-grid .collg-ropa .collg-ropa-titulo h3 {
  font-size: 1.3em;
}
.collage .collage-grid .collg-ropa-sr2 {
  grid-row: span 2;
}
.collage .collage-grid .collg-ropa-sc2 {
  grid-column: span 2;
}

/* -----------------------------------------------------------------------------SECCION COLLAGE*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* ROPA-BEBES + ROPA-PETS */
/* -----------------------------------------------------------------------------------------*/
.todo-ropa {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 700px;
}
.todo-ropa .prenda {
  height: 100%;
  width: 100%;
  position: relative;
  border: 2px solid #fff;
}
.todo-ropa .prenda .prenda-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.todo-ropa .prenda .prenda-desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* ABOUT */
/* -----------------------------------------------------------------------------------------*/
.about {
  /* distribucion elementos */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* separador vertical */
  margin: 30px 0 !important;
  /* ------------------------------------------------- */
  /* SOBRE LA EMPRESA */
  /* ------------------------------------------------- */
  /* SOBRE EL DESARROLLADOR */
}
.about .about-empresa {
  /* distribucion de elementos */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px !important; /* separador lateral */
  /* ------------------------------------------------- */
  /* imagen empresa */
  /* ------------------------------------------------- */
  /* descripcion empresa */
}
.about .about-empresa .ab-emp-img {
  height: 500px;
  object-fit: cover;
}
.about .about-empresa .ab-emp-desc {
  margin-left: 15px !important; /* separador entre elementos */
  /* distribucion de elementos */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* caracteristicas texto */
  text-align: left;
  /* titulo principal */
}
.about .about-empresa .ab-emp-desc h2 {
  margin-bottom: 20px !important; /* separador entre elementos */
}
.about .about-dev {
  margin: 0 30px !important; /* separador entre elementos */
  /* distribucion de elementos */
  display: flex;
  justify-content: center;
  align-items: center;
  /* ------------------------------------------------- */
  /* descripcion desarrollador */
  /* ------------------------------------------------- */
  /* imagen desarrollador */
}
.about .about-dev .ab-dev-desc {
  margin-right: 40px !important; /* separador entre elementos */
  /* distribucion de elementos */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* caracteristicas texto */
  text-align: right;
  /* titulo principal */
}
.about .about-dev .ab-dev-desc h2 {
  margin-bottom: 20px !important; /* separador entre elementos */
}
.about .about-dev .ab-dev-img {
  height: 350px;
  object-fit: contain;
}

footer {
  height: auto;
  margin-top: 25px; /* separador de main y footer */
  padding: 15px !important;
  /* distribucion de elementos iframe y div */
  display: flex;
  justify-content: center;
  align-items: center;
  /* aplicar color */
  background-color: rgb(249, 151, 97);
}
footer .foot-pompon {
  margin-right: 50px !important; /* separador logo y links */
  /* distribucion elementos p e img*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .foot-pompon p {
  font-size: 15px;
  margin-top: 15px !important; /* separador img y p */
  text-align: center;
  /* aplicar color */
  color: rgb(80, 78, 78) !important;
}
footer .foot-pompon .foot-pompon-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}
footer .foot-links {
  /* distribucion elmentos iframe y div */
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot-links .foot-links-ic {
  /* distribucion de elementos a = iconos */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  /* para dar mas tamaño a un icono en particular */
}
footer .foot-links .foot-links-ic .f-links-ic-c {
  font-size: 63px;
  font-weight: bold;
}
footer .foot-links iframe {
  margin-left: 50px !important; /* separador iframe y div */
}

/* media queries */
/*  HEADER------------ */
/*  ---------------------- INDEX */
/*  ------------------------------- ROPA-BEBES */
/*  -------------------------------------- ROPA-PETS */
/*  ----------------------------------------------- ABOUT */
/*  -------------------------------------------------------- LOGIN */
/*  Footer------------ */
@media screen and (max-width: 1017px) {
  /*  ---------------------- INDEX */
  .intro {
    margin: 0 20px !important;
  }
  .intro .sub-intro .sub-intro-img {
    width: 400px;
    height: 300px;
  }
  .intro .sub-intro .sub-intro-desc h2 {
    font-size: 35px;
  }
  .intro .sub-intro .sub-intro-desc p {
    font-size: 17px;
  }
  .intro .sub-intro-rev .sub-intro-rev-img {
    width: 400px;
    height: 300px;
  }
  .intro .sub-intro-rev .sub-intro-rev-desc h2 {
    font-size: 35px;
  }
  .intro .sub-intro-rev .sub-intro-rev-desc p {
    font-size: 17px;
  }
  /*  -------------------------------------------------  */
  .todo-ropa {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 970px) {
  /*  ----------------------INDEX */
  .hero .hero-desc h2 {
    font-size: 55px;
  }
  .hero .hero-desc p {
    font-size: 23px;
  }
  .intro .sub-intro {
    margin-top: 20px !important;
  }
  .intro .sub-intro .sub-intro-desc {
    margin-right: 20px !important;
  }
  .intro .sub-intro-rev .sub-intro-rev-desc {
    margin-left: 20px !important;
  }
  .collage .collage-grid {
    grid-template-columns: 1fr 1fr;
  }
  /*  ----------------------------------------------- ABOUT */
  .about .about-empresa {
    margin-bottom: 20px !important;
  }
  /*
  .about .dev .dev-img {
      height: 85%;
  }
  */
  /*  Footer------------ */
  footer {
    padding: 15px 0 !important;
  }
}
@media screen and (max-width: 930px) {
  /*  ----------------------INDEX */
  .intro .sub-intro .sub-intro-desc h2 {
    font-size: 31px;
  }
  .intro .sub-intro-rev .sub-intro-rev-desc h2 {
    font-size: 31px;
  }
  /*  Footer------------ */
  footer .foot-pompon {
    margin-right: 30px !important;
  }
  footer .foot-links iframe {
    margin-left: 30px !important;
  }
}
@media screen and (max-width: 900px) {
  /*  ----------------------INDEX */
  .intro {
    margin: 0 30px !important;
  }
  .intro .sub-intro {
    flex-wrap: wrap;
    margin-top: 35px !important;
  }
  .intro .sub-intro .sub-intro-desc {
    margin-right: 0 !important;
    margin-bottom: 20px !important;
  }
  .intro .sub-intro-rev {
    flex-wrap: wrap;
    margin-top: 35px !important;
  }
  .intro .sub-intro-rev .sub-intro-rev-desc {
    margin-left: 0 !important;
    margin-bottom: 20px !important;
  }
  /*  Footer------------ */
  footer {
    justify-content: space-evenly;
  }
  footer .foot-pompon {
    margin-right: 0 !important;
  }
  footer .foot-pompon .foot-pompon-img {
    width: 150px;
    height: 150px;
  }
  footer .foot-links {
    flex-direction: column;
  }
  footer .foot-links iframe {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 880px) {
  /*  ----------------------INDEX */
  .hero .hero-desc h2 {
    font-size: 50px;
  }
  .hero .hero-desc p {
    font-size: 22px;
  }
  .hero .hero-desc a {
    font-size: 20px;
  }
  /*  ----------------------------------------------- ABOUT */
  .about .about-empresa {
    flex-wrap: wrap-reverse;
  }
  .about .about-empresa .ab-emp-desc {
    align-items: center;
    text-align: center;
    margin-left: 0 !important;
  }
  .about .about-empresa .ab-emp-img {
    height: 350px;
  }
  .about .about-dev {
    flex-wrap: wrap;
  }
  .about .about-dev .ab-dev-desc {
    align-items: center;
    text-align: center;
    margin-bottom: 20px !important;
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 850px) {
  /*  ----------------------INDEX */
  .hero .hero-desc h2 {
    font-size: 45px;
  }
  .hero .hero-desc p {
    font-size: 20px;
  }
  /*  Footer------------ */
  footer .foot-pompon .foot-pompon-img {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 790px) {
  /*  HEADER------------ */
  header {
    position: static;
  }
  /*  ----------------------INDEX */
  .hero {
    height: 400px;
  }
  .hero .hero-desc h2 {
    font-size: 40px;
  }
  .hero .hero-desc p {
    font-size: 20px;
  }
  .intro .sub-intro .sub-intro-img {
    width: 350px;
    height: 250px;
  }
  .intro .sub-intro .sub-intro-desc h2 {
    font-size: 29px !important;
  }
  .intro .sub-intro .sub-intro-desc p {
    font-size: 1.1em !important;
  }
  .intro .sub-intro-rev .sub-intro-rev-img {
    width: 350px;
    height: 250px;
  }
  .intro .sub-intro-rev .sub-intro-rev-desc h2 {
    font-size: 29px !important;
  }
  .intro .sub-intro-rev .sub-intro-rev-desc p {
    font-size: 1.1em !important;
  }
  .collage .collage-grid .collg-ropa-sr2 {
    grid-row: span 1;
  }
}
@media screen and (max-width: 770px) {
  /*  HEADER------------ */
  header {
    flex-direction: column;
    justify-content: center;
  }
  header h1 {
    margin-bottom: 15px !important;
  }
  header nav ul {
    justify-content: center;
  }
  /*  ---------------------- INDEX */
  .collage h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 750px) {
  .todo-ropa {
    grid-template-columns: 1fr;
    grid-auto-rows: 500px;
  }
}
@media screen and (max-width: 700px) {
  /*  ----------------------INDEX */
  .hero .hero-desc h2 {
    font-size: 38px;
  }
  .hero .hero-desc p {
    font-size: 18px;
  }
  .hero .hero-desc a {
    font-size: 18px;
  }
  /*  Footer------------ */
  footer .foot-pompon .foot-pompon-img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 650px) {
  /*  ----------------------INDEX */
  .hero .hero-desc h2 {
    font-size: 37px;
  }
  .hero .hero-desc p {
    font-size: 17px;
  }
  .hero .hero-desc a {
    font-size: 17px;
  }
  .intro .sub-intro .sub-intro-desc p {
    font-size: 1em !important;
  }
  .intro .sub-intro-rev .sub-intro-rev-desc p {
    font-size: 1em !important;
  }
  /*  Footer------------ */
  footer {
    flex-direction: column-reverse;
  }
  footer .foot-pompon {
    margin-top: 35px !important;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .foot-pompon .foot-pompon-img {
    margin-right: 30px !important;
  }
  footer .foot-links {
    flex-direction: row;
    justify-content: space-between;
  }
  footer .foot-links .foot-links-ic {
    margin-right: 30px !important;
  }
}
@media screen and (max-width: 600px) {
  /*  HEADER------------ */
  header nav ul li {
    margin-right: 10px !important;
  }
  /*  ----------------------INDEX */
  .hero .hero-desc h2 {
    font-size: 36px;
  }
  .hero .hero-desc p {
    font-size: 16px;
  }
  .hero .hero-desc a {
    font-size: 16px;
  }
  .intro .sub-intro .sub-intro-img {
    width: 300px;
    height: 200px;
    border-radius: 0;
  }
  .intro .sub-intro .sub-intro-desc h2 {
    font-size: 26px !important;
  }
  .intro .sub-intro-rev .sub-intro-rev-img {
    width: 300px;
    height: 200px;
    border-radius: 0;
  }
  .intro .sub-intro-rev .sub-intro-rev-desc h2 {
    font-size: 26px !important;
  }
  .collage .collage-grid {
    grid-template-columns: 1fr;
  }
  .collage .collage-grid .collg-ropa-sc2 {
    grid-column: span 1;
  }
}
@media screen and (max-width: 550px) {
  /*  HEADER------------ */
  header nav ul {
    flex-direction: column;
  }
  /*  Footer------------ */
  footer .foot-pompon {
    margin-top: 35 !important;
    flex-direction: column;
    justify-content: center;
  }
  footer .foot-pompon .foot-pompon-img {
    margin-right: 0 !important;
  }
  footer .foot-links {
    flex-direction: column;
    justify-content: center;
  }
  footer .foot-links .foot-links-ic {
    margin-right: 0 !important;
  }
}

/*# sourceMappingURL=build.css.map */
