// pie de pagina

footer {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    background-color: rgba(249,151,97, 1);
    font-size: 45px;

    
    .icon-links {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .correo {
            font-size: 65px;
            font-weight: bold;
        }
    }
}