/* menu de navegacion */

header {
    /* caracteristicas principales */
    background-color: #fff;
    padding: 10px !important;

    /* distribucion de elementos h1 y nav */
    display: flex;
    justify-content: space-between; /* para tirar los elementos a las puntas */
    align-items: center;

    /* desplazamiento de pagina */
    position: sticky;
    top: 0;
    z-index: 1;



    /* -------------------------------------------------*/
    /* LOGO EMPRESA */
    h1 {
        font-size: 40px;
        font-family: 'Pacifico', cursive;
        
        /* aplicar color */
        @include titulo(rgba(35,89,109, 1), 8px, #FBE7C6);
    }


    
    /* ------------------------------------------------- */
    /* MENU NAVEGACION */
    nav {

        /* ------------------------------------------------- */
        ul {
            list-style: none;

            /* distribucion de elementos li */
            @include flex (flex, row, flex-end, center);


            li {
                /* separador para cada item */
                margin-right: 20px !important;

                
                /* cada enlace dentro de cada item */
                a {
                    color: #23596d;
                    font-size: 20px;
                    text-decoration: none;

                    /* animaciones */
                    transition: 1s;

                    &:hover {
                        @include enlace(2px, solid, #FBE7C6, 
                            rgba(35,89,109, 1), #FBE7C6, 5px);
                    }
                }
            }



            /* clase para un item determinado */
            .li-login {
                margin: 0 !important;
            }
        }
    }
}