/* menu de navegacion */

header {
    /* caracteristicas principales */
    background-color: #fff;
    padding: 10px !important;

    /* distribucion de elementos h1 y nav */
    display: flex;
    justify-content: space-between; /* para tirar los elementos a las puntas */
    align-items: center;

    /* desplazamiento de pagina */
    position: sticky;
    top: 0;
    z-index: 1;



    /* -------------------------------------------------*/
    /* LOGO EMPRESA */
    h1 {
        font-size: 40px;
        font-family: 'Pacifico', cursive;
        
        /* aplicar color */
        color: #FBE7C6;
        background-color: rgba(35,89,109, 1);
        padding: 8px !important;
    }


    
    /* ------------------------------------------------- */
    /* MENU NAVEGACION */
    nav {

        /* ------------------------------------------------- */
        ul {
            list-style: none;

            /* distribucion de elementos li */
            display: flex;
            justify-content: flex-end;
            align-items: center;



            li {
                /* separador para cada item */
                margin-right: 20px !important;

                
                /* cada enlace dentro de cada item */
                a {
                    color: #23596d;
                    font-size: 20px;
                    text-decoration: none;
                }
            }



            /* clase para un item determinado */
            .li-login {
                margin: 0 !important;
            }
        }
    }
}