// -----------------------------------------------------------------------------------------
// INDEX
// -----------------------------------------------------------------------------------------

// -----------------------------------------SECCION HERO------------------------------------
.hero {
    height: 490px;
    background-image: url(../img/a-body/body00.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    .hero-desc {
        /* background-color: rgba(250,232,224,0.7); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        h2 {
            font-size: 60px;
            text-transform: uppercase;
            /* color: #23596d; */
            padding: 10px !important;
            background-color: rgba(255,255,255,0.7);
        }

        h3 {
            font-family: 'Pacifico', cursive;
            /* color: #FFF1DD; */
            background-color: rgba(35,89,109, 1);
            color: #FBE7C6;
            padding: 10px !important;
        }
        
        p {
            margin-top: 25px !important;
            font-size: 26px;
            text-align: center;
            padding: 10px !important;
            background-color: rgba(250,232,224,0.7);
        }
        
        a {
            text-decoration: none;
            font-size: 25px;
            margin-top: 15px;
            /* color: #23596d ;
            border: 2px solid #fff;
            background-color: rgba(106,242,240, 0.7); */
        }
    }
}
// -----------------------------------------------------------------------------SECCION HERO





// SECCION INTRO-----------------------------------------------------------------------------
.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px !important;
    margin-right: 30px !important;
    margin-left: 30px !important;
    text-align: center;
    
    .sub-intro {
        // separador entre cada seccion
        // margin-top: 40px !important;

        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
        .sub-intro-desc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            // separador entre imagen e info
            margin-right: 35px !important;
            
            
            h2 {
                margin-bottom: 20px !important;
                font-size: 40px;
                /* color: #23596d; */
            }
            
            p {
                font-size: 20px !important;
            }
        }
        
        
        .sub-intro-img {
            width: 500px;
            height: 400px;
            object-fit: cover;
            border-radius: 60%;
        }
    }
}

.rev {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    .sub-intro-desc-rev {
        // separador entre imagen e info
            margin-left: 35px !important;
    }
}
// -----------------------------------------------------------------------------SECCION INTRO





// SECCION COLLAGE-----------------------------------------------------------------------------
.collage {
    margin-top: 50px !important;
    text-align: center;


    h2 {
        background-color: coral;
        text-transform: uppercase;
        padding: 10px !important;
        font-size: 50px;
    }

    .cont-grilla {
        padding: 14px !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 350px;
        gap: 20px;
    }

    .span-row {
        grid-row: span 2;
    }

    .span-col {
        grid-column: span 2;
    }

    .ropa {
        height: 100%;
        width: 100%;
        position: relative;

        .ropa-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .ropa-titulo {
            position: absolute;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.39);
            width: 100%;


            h3 {
                font-size: 1.3em;
            }
        }
    }
}
// -----------------------------------------------------------------------------SECCION COLLAGE




// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// ROPA-BEBES + ROPA-PETS
// -----------------------------------------------------------------------------------------

.todo-ropa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 700px;

    .prenda {
        height: 100%;
        width: 100%;
        position: relative;
        border: 2px solid #fff;

        .prenda-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .prenda-desc {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #fff;
        }
    }
}


// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------
// ABOUT
// -----------------------------------------------------------------------------------------

.empresa {
    height: 490px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .empresa-img {
        flex: 1;
        height: 100%;
        object-fit: cover;
    }

    .empresa-desc {
        flex: 1;
        margin: 0 20px !important;

        h2 {
            margin-bottom: 20px !important;
            font-family: 'Pacifico', cursive;
        }
    }
}

// .dev {
//     height: 490px;
//     display: flex;
//     flex-direction: row-reverse;
//     justify-content: center;
//     align-items: center;
//     text-align: right;

//     .dev-img {
//         flex: 1;
//         height: 100%;
//         object-fit: contain;
//     }

//     .dev-desc {
//         flex: 1;
//         margin: 0 20px !important;

//         h2 {
//             margin-bottom: 20px !important;
//             font-family: 'Pacifico', cursive;
//         }
//     }
// }