/* -----------------------------------------------------------------------------------------*/
/* INDEX */
/* -----------------------------------------------------------------------------------------*/

/* -----------------------------------------SECCION HERO------------------------------------*/
.hero {
    height: 490px;

    /* fondo gradiente */
    background: #27b5f2;
    background: linear-gradient(50deg,
    rgba(39, 181, 242, 1) 0%,
    rgba(96, 197, 240, 1) 23%,
    rgba(249, 151, 97, 1) 53%,
    rgba(255, 175, 143, 1) 70%,
    rgba(253, 187, 118, 1) 100%
    );


    /* distribucion de elementos, uso mixin */
    @include flex(flex, column, center, center);
    
    
    .hero-desc {

        /* distribucion de elementos, uso mixin */
        @include flex(flex, column, center, center);
        
        h2 {
            font-size: 60px;
            text-transform: uppercase;
        }


        h3 {
            font-family: 'Pacifico', cursive;

            /* aplicar color */
            @include titulo(rgba(35,89,109, 1), 10px, #FBE7C6);
        }
        

        p {
            margin-top: 25px !important;
            font-size: 26px;
            text-align: center;

            /* aplicar color */
            color: #fff;
            border-top: 5px solid coral;
        }
        

        a {
            text-decoration: none;
            font-size: 25px;
            margin-top: 15px;

            /* aplicar color */
            @include enlace(2px, solid, #fff, 
                rgba(106,242,240, 1), #23596d, 5px);


            /* animaciones */
            transition: 1s;

            &:hover {
                @include enlace(2px, solid, #FBE7C6, 
                rgba(35,89,109, 1), #FBE7C6, 5px);
            }
        }
    }
}
/* -----------------------------------------------------------------------------SECCION HERO */





/* SECCION INTRO----------------------------------------------------------------------------- */
.intro {

    /* distribucion de elementos div */
    @include flex (flex, column, center, center);

    margin: 0 40px !important; /* separador de los bordes laterales */
    text-align: center;
    
    .sub-intro {
        /* separador div */
        margin-top: 30px !important;

        /* distribucion de elementos img e hijo div */
        @include flex (flex, row, center, center);

        
        .sub-intro-desc {

            /* distribucion de elementos h2 y p */
            @include flex (flex, column, center, center);

            /* separador entre img y div */
            margin-right: 30px !important;
            
            
            h2 {
                margin-bottom: 20px !important; /* separador entre h2 y p */
                font-size: 40px;

                /* aplicar color */
            }
            

            p {
                font-size: 20px !important;
            }
        }
        
        
        .sub-intro-img {
            @include img (470px, 370px, cover);

            /* por favor no me maten por usar esta propiedad, se los agradezco :') */
            border-radius: 60%;
        }
    }



    .sub-intro-rev {

        /* distribucion de elementos img e hijo div*/
        @include flex (flex, row-reverse, center, center);


        margin-top: 30px !important; /* separador div */


        .sub-intro-rev-desc {
            /* separador entre img e hijo div */
            margin-left: 35px !important;

            /* distribucion de elementos h2 y p */
            @include flex (flex, column, center, center);


            h2 {
                margin-bottom: 20px !important; /* separador entre h2 y p */
                font-size: 40px;

                /* aplicar color */
            }
            

            p {
                font-size: 20px !important;
            }
        }


        .sub-intro-rev-img {
            @include img (470px, 370px, cover);

            /* por favor no me maten por usar esta propiedad, se los agradezco :') */
            border-radius: 60%;
        }
    }
}
/* -----------------------------------------------------------------------------SECCION INTRO*/





/* SECCION COLLAGE-----------------------------------------------------------------------------*/
.collage {
    margin-top: 50px !important; /* separador de seccion intro */
    text-align: center; /* centrar para cualquier texto */


    h2 {
        font-size: 50px;
        text-transform: uppercase;

        /* aplicar color */
        background-color: coral;
        padding: 10px !important;
    }

    .collage-grid {
        padding: 14px !important;

        /* distribucion de elementos */
        @include grid (grid, 1fr 1fr 1fr, 350px, 20px);


        .collg-ropa {
            height: 100%;
            width: 100%;
            position: relative; /* para posicionar titulo */


            .collg-ropa-img {
                @include img (100%, 100%, cover);
            }

            .collg-ropa-titulo {
                width: 100%; /* ocupar todo el espacio de la celda */

                /* posicionar dentro de la celda */
                position: absolute;
                bottom: 0;

                /* aplicar color */
                background-color: rgba(255, 255, 255, 0.39);


                h3 {
                    font-size: 1.3em;
                    margin-bottom: 20px !important;
                }



                a {

                    @include enlace(2px, solid, #fff, 
                        rgba(106,242,240, 1), #23596d, 0);


                    /* animaciones */
                    transition: 1s;

                    &:hover {
                        @include enlace(2px, solid, #FBE7C6, 
                            rgba(35,89,109, 1), #FBE7C6, 5px);
                    }
                }


                &:hover {
                    background-color: rgba(255, 255, 255, 1);
                }
            }
        }

        .collg-ropa-sr2 {
            grid-row: span 2;
        }

        .collg-ropa-sc2 {
            grid-column: span 2;
        }
    }
}
/* -----------------------------------------------------------------------------SECCION COLLAGE*/




/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* ROPA-BEBES + ROPA-PETS */
/* -----------------------------------------------------------------------------------------*/

.coleccion {

    /* distribucion elementos div (prenda) */
    @include grid (grid, 1fr 1fr 1fr, 700px, 2);


    .coleccion-prenda {
        height: 100%;
        width: 100%;
        position: relative; /* posicionar descripcion */


        .col-prenda-img {
            @include img (100%, 100%, cover);
        }


        .col-prenda-desc {
            position: absolute;
            bottom: 0;
            width: 100%;

            /* aplicar color */
            background-color: #fff;


            h2 {
                font-size: 25px;
            }


            a {
                @include enlace(1px, solid, #000, 
                rgba(106,242,240, 1), #000, 5px);

                /* animaciones */
                transition: 1s;

                &:hover {
                    @include enlace(2px, solid, #FBE7C6, 
                        rgba(35,89,109, 1), #FBE7C6, 5px);
                }
            }
        }
    }
}


/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* ABOUT */
/* -----------------------------------------------------------------------------------------*/

.about {
    /* distribucion elementos div (empresa) y div (desarrollador) */
    @include flex (flex, column, center, center);
    
    /* separador vertical */
    margin: 30px !important;

    
    
    /* ------------------------------------------------- */
    /* SOBRE LA EMPRESA */
    .about-empresa {

        /* distribucion de elementos img y div */
        @include flex (flex, row, center, center);
        
        
        margin: 0 40px !important; /* separador lateral */

        /* ------------------------------------------------- */
        /* imagen empresa */
        .ab-emp-img {
            @include img (inherit, 500px, cover);
        }
        
        /* ------------------------------------------------- */
        /* descripcion empresa */
        .ab-emp-desc {

            margin-left: 15px !important; /* separador entre elementos */
            
            /* distribucion de elementos */
            @include flex (flex, column, center, flex-start);
            
            /* caracteristicas texto */
            text-align: left;
            
            
            /* titulo principal */
            h2 {
                margin-bottom: 20px !important; /* separador entre elementos */
            }
        }
    }
    
    
    

    /* ------------------------------------------------- */
    /* SOBRE EL DESARROLLADOR */
    .about-dev {
        
        margin: 0 30px !important; /* separador entre elementos div (empresa) y div (desarrollador) */
        
        /* distribucion de elementos */
        @include flex (flex, row, center, center);
        
        
        /* ------------------------------------------------- */
        /* descripcion desarrollador */
        .ab-dev-desc {
            
            margin-right: 40px !important; /* separador entre elementos h2 y p */
            
            /* distribucion de elementos */
            @include flex (flex, column, center, flex-end);
            
            /* caracteristicas texto */
            text-align: right;
            
            
            /* titulo principal */
            h2 {
                margin-bottom: 20px !important; /* separador entre elementos */
            }
        }
        
        /* ------------------------------------------------- */
        /* imagen desarrollador */
        .ab-dev-img {
            @include img (inherit, 350px, contain);
        }
    }
}



/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* LOGIN */
/* -----------------------------------------------------------------------------------------*/



.login {

    padding: 25px !important; /* separador de bordes */

    /* mini parallax */
    background-image: url(../img/a-body/body00.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    /* distribucion de elementos div (sesion) y div (registro) */
    @include flex (flex, row-reverse, space-around, center);


    .login-sesion {

        /* aplicar color */
        background-color: rgba(255, 255, 255, 0.7);
        padding: 20px !important;


        /* distribucion de elementos h2 y form */
        @include flex (flex, column, center, flex-start);



        h2 {
            font-size: 30px;
            text-transform: uppercase;
        }


        .log-sesion-form {

            margin-top: 20px !important;


            /* distribucion de elementos label e input */
            @include flex (flex, column, center, flex-start);


            label {
                margin-top: 20px !important;
            }


            .log-sesion-f-inp {

                margin-top: 15px  !important;

                width: 100%;
                font-size: 20px;

                /* aplicar color */
                border-width: 0 0 1px 0;
                border-style: solid;
                border-color: rgba(106,242,240, 1);
                background-color: rgba(255,255,255,0) !important;

                /* animaciones */
                    transition: 1s;

                    &:hover {
                        @include enlace(2px, solid, #FBE7C6, 
                            rgba(35,89,109, 1), #FBE7C6, 5px);
                    }
            }



            .log-se-f-sub {

                margin-top: 15px !important; /* separador */
                width: 100%;
    
                /* para que el link quede al final de la caja */
                display: flex;
                justify-content: flex-end;
                align-items: center;
    
                a {
                    /* aplicar color */
                    @include enlace(2px, solid, #fff, 
                        rgba(106,242,240, 1), #23596d, 5px);

                    
                    /* animaciones */
                    transition: 1s;

                    &:hover {
                        @include enlace(2px, solid, #FBE7C6, 
                            rgba(35,89,109, 1), #FBE7C6, 5px);
                    }
                }
            }
        }
    }



    .login-reg {

        /* aplicar color */
        background-color: rgba(255, 255, 255, 0.7);
        padding: 20px !important;
    

        /* distribucion de elementos h2 y form */
        @include flex (flex, column, center, flex-start);



        h2 {
            font-size: 35px;
        }
    
        

        .log-reg-form {

            margin-top: 20px !important;
    
            /* distribucion de elementos enlace (enviar) y div */
            @include flex (flex, column, center, flex-start);



            div {
                width: 400px;
            }


            .lreg-form-inp {

                margin-top: 5px !important; /* separador */

                /* distribucion de elmentos input y label */
                @include flex (flex, row, space-between, center);

            }

            div.log-reg-f-sub {
    
                margin-top: 20px !important; /* separador */
    
                /* para acomodar el link al final de la caja */
                @include flex (flex, row, flex-end, center);
    
                a {
                    /* aplicar color */
                    @include enlace(2px, solid, #fff, 
                        rgba(106,242,240, 1), #23596d, 5px);



                    /* animaciones */
                    transition: 1s;

                    &:hover {
                        @include enlace(2px, solid, #FBE7C6, 
                            rgba(35,89,109, 1), #FBE7C6, 5px);
                    }
                }
            }
        }


    }
}