/* media queries */

/*  HEADER------------ */
/*  ---------------------- INDEX */
/*  ------------------------------- ROPA-BEBES */
/*  -------------------------------------- ROPA-PETS */
/*  ----------------------------------------------- ABOUT */
/*  -------------------------------------------------------- LOGIN */
/*  Footer------------ */

@media screen and (max-width: 1017px) {

    /*  ---------------------- INDEX */
    .intro {
        margin: 0 20px !important;
    }

    .intro .sub-intro .sub-intro-img {
        width: 400px;
        height: 300px;
    }

    .intro .sub-intro .sub-intro-desc h2 {
        font-size: 35px;
    }

    .intro .sub-intro .sub-intro-desc p {
        font-size: 17px;
    }

    .intro .sub-intro-rev .sub-intro-rev-img {
        width: 400px;
        height: 300px;
    }

    .intro .sub-intro-rev .sub-intro-rev-desc h2 {
        font-size: 35px;
    }

    .intro .sub-intro-rev .sub-intro-rev-desc p {
        font-size: 17px;
    }
    

    /*  -------------------------------------------------  */
    .todo-ropa {
        grid-template-columns: 1fr 1fr;
    }
}



@media screen and (max-width: 970px) {

    /*  ----------------------INDEX */
    .hero .hero-desc h2 {
        font-size: 55px;
    }

    .hero .hero-desc p {
        font-size: 23px;
    }


    .intro .sub-intro {
        margin-top: 20px !important;
    }

    .intro .sub-intro .sub-intro-desc {
        margin-right: 20px !important;
    }

    .intro .sub-intro-rev .sub-intro-rev-desc {
        margin-left: 20px !important;
    }


    .collage .collage-grid {
        grid-template-columns: 1fr 1fr;
    }


    /*  ----------------------------------------------- ABOUT */
    .about .about-empresa {
        margin-bottom: 20px !important;
    }

    /*
    .about .dev .dev-img {
        height: 85%;
    }
    */


    /*  Footer------------ */
    footer {
        padding: 15px 0 !important;
    }
}


@media screen and (max-width: 930px) {

    /*  ----------------------INDEX */
    .intro .sub-intro .sub-intro-desc h2 {
        font-size: 31px;
    }

    .intro .sub-intro-rev .sub-intro-rev-desc h2 {
        font-size: 31px;
    }


    /*  Footer------------ */
    footer .foot-pompon {
        margin-right: 30px !important;
    }

    footer .foot-links iframe {
        margin-left: 30px !important;
    }
}



@media screen and (max-width: 900px) {

    /*  ----------------------INDEX */
    .intro {
        margin: 0 30px !important;
    }

    .intro .sub-intro {
        flex-wrap: wrap;
        margin-top: 35px !important;
    }

    .intro .sub-intro .sub-intro-desc {
        margin-right: 0 !important;
        margin-bottom: 20px !important;
    }

    .intro .sub-intro-rev {
        flex-wrap: wrap;
        margin-top: 35px !important;
    }

    .intro .sub-intro-rev .sub-intro-rev-desc {
        margin-left: 0 !important;
        margin-bottom: 20px !important;
    }

    

    /*  Footer------------ */
    footer {
        justify-content: space-evenly;
    }

    footer .foot-pompon {
        margin-right: 0 !important;
    }

    footer .foot-pompon .foot-pompon-img {
        width: 150px;
        height: 150px;
    }

    footer .foot-links {
        flex-direction: column;
    }

    footer .foot-links iframe {
        margin-left: 0 !important;
    }
}




@media screen and (max-width: 880px) {

    /*  ----------------------INDEX */
    .hero .hero-desc h2 {
        font-size: 50px;
    }

    .hero .hero-desc p {
        font-size: 22px;
    }

    .hero .hero-desc a {
        font-size: 20px;
    }


    /*  ----------------------------------------------- ABOUT */
    .about .about-empresa {
        flex-wrap: wrap-reverse;
    }

    .about .about-empresa .ab-emp-desc {
        align-items: center;
        text-align: center;
        margin-left: 0 !important;
    }

    .about .about-empresa .ab-emp-img {
        height: 350px;
    }

    .about .about-dev {
        flex-wrap: wrap;
    }

    .about .about-dev .ab-dev-desc {
        align-items: center;
        text-align: center;
        margin-bottom: 20px !important;
        margin-right: 0 !important;
    }
}
  


@media screen and (max-width: 850px) {

    /*  ----------------------INDEX */
    .hero .hero-desc h2 {
        font-size: 45px;
    }

    .hero .hero-desc p {
        font-size: 20px;
    }


    /*  Footer------------ */
    footer .foot-pompon .foot-pompon-img {
        width: 120px;
        height: 120px;
    }
}



@media screen and (max-width: 790px) {

    /*  HEADER------------ */
    header {
        position: static;
    }

    /*  ----------------------INDEX */
    .hero {
        height: 400px;
    }

    .hero .hero-desc h2 {
        font-size: 40px;
    }

    .hero .hero-desc p {
        font-size: 20px;
    }


    .intro .sub-intro .sub-intro-img {
        width: 350px;
        height: 250px;
    }

    .intro .sub-intro .sub-intro-desc h2 {
        font-size: 29px !important;
    }

    .intro .sub-intro .sub-intro-desc p {
        font-size: 1.1em !important;
    }

    .intro .sub-intro-rev .sub-intro-rev-img {
        width: 350px;
        height: 250px;
    }

    .intro .sub-intro-rev .sub-intro-rev-desc h2 {
        font-size: 29px !important;
    }

    .intro .sub-intro-rev .sub-intro-rev-desc p {
        font-size: 1.1em !important;
    }
    
    
    .collage .collage-grid .collg-ropa-sr2 {
        grid-row: span 1;
    }
}




@media screen and (max-width: 770px) {

    /*  HEADER------------ */
    header {
        flex-direction: column;
        justify-content: center;
    }
    
    header h1 {
        margin-bottom: 15px !important;
    }

    header nav ul {
        justify-content: center;
    }

    
    /*  ---------------------- INDEX */

    .collage h2 {
        font-size: 40px;
    }
}





@media screen and (max-width: 750px) {


    .todo-ropa {
        grid-template-columns: 1fr;
        grid-auto-rows: 500px;
    }
}




@media screen and (max-width: 700px) {
    /*  ----------------------INDEX */
    .hero .hero-desc h2 {
        font-size: 38px;
    }

    .hero .hero-desc p {
        font-size: 18px;
    }

    .hero .hero-desc a {
        font-size: 18px;
    }


    /*  Footer------------ */
    footer .foot-pompon .foot-pompon-img {
        width: 100px;
        height: 100px;
    }
}




@media screen and (max-width: 650px) {
    /*  ----------------------INDEX */
    .hero .hero-desc h2 {
        font-size: 37px;
    }

    .hero .hero-desc p {
        font-size: 17px;
    }

    .hero .hero-desc a {
        font-size: 17px;
    }


    .intro .sub-intro .sub-intro-desc p {
        font-size: 1em !important;
    }

    .intro .sub-intro-rev .sub-intro-rev-desc p {
        font-size: 1em !important;
    }


    /*  Footer------------ */
    footer {
        flex-direction: column-reverse;
    }

    footer .foot-pompon {
        margin-top: 35px !important;
        flex-direction: row;
        justify-content: space-between;
    }

    footer .foot-pompon .foot-pompon-img {
        margin-right: 30px !important;
    }

    footer .foot-links {
        flex-direction: row;
        justify-content: space-between;
    }

    footer .foot-links .foot-links-ic {
        margin-right: 30px !important;
    }
}




@media screen and (max-width: 600px) {
    /*  HEADER------------ */
    header nav ul li {
        margin-right: 10px !important;
    }


    /*  ----------------------INDEX */
    .hero .hero-desc h2 {
        font-size: 36px;
    }

    .hero .hero-desc p {
        font-size: 16px;
    }

    .hero .hero-desc a {
        font-size: 16px;
    }


    .intro .sub-intro .sub-intro-img {
        width: 300px;
        height: 200px;
        border-radius: 0;
    }

    .intro .sub-intro .sub-intro-desc h2 {
        font-size: 26px !important;
    }

    .intro .sub-intro-rev .sub-intro-rev-img {
        width: 300px;
        height: 200px;
        border-radius: 0;
    }

    .intro .sub-intro-rev .sub-intro-rev-desc h2 {
        font-size: 26px !important;
    }


    .collage .collage-grid {
        grid-template-columns: 1fr;
    }

    .collage .collage-grid .collg-ropa-sc2 {
        grid-column: span 1;
    }




    
}





@media screen and (max-width: 550px) {

    /*  HEADER------------ */
    header nav ul {
        flex-direction: column;
    }

    /*  Footer------------ */
    footer .foot-pompon {
        margin-top: 35 !important;
        flex-direction: column;
        justify-content: center;
    }

    footer .foot-pompon .foot-pompon-img {
        margin-right: 0 !important;
    }

    footer .foot-links {
        flex-direction: column;
        justify-content: center;
    }

    footer .foot-links .foot-links-ic {
        margin-right: 0 !important;
    }
}





@media screen and (max-width: 500px) {

}